<style>
	*, html{
		font-family: Microsoft JhengHei; 
		text-decoration: none;
	}
	@media screen and (min-width: 551px) {
		*, html{
			font-size: 14px;
		}
	}
	body{
		background: #adbed2;
    	color: #030305;
    }
    .top{
    	visibility: hidden;
    }
  	.top img{
  		max-width:2em;
  		max-height:2em;
  		position: fixed;
  		top:91vh;
  		left: 91vw;
  	}
  	.footer{
    	width: 100%;
    	max-width:100%;
    	height: 6em;
    	margin-bottom: 0;
    	background-color: #ffffff;
    	padding-top: 0.6em;
  	}
  	.email{
    	width: 2em;
    	height: 2em;
    	margin: 0.4em 0.4em 0 0.4em;
  	}
  	.divName{
    	width: 100%;
   	 	max-width:100%;
    	height: 5em;
    	background-color: #ffffff;
  	}
  	.nameM{
    	margin: 0 0 0 23.5em;
    	height: 4.5em;
  	}
  	.namescript{
  		margin-top:0.2em;
  		height: 3.5em;
    	width: 9.5em;
    	max-width: 9.5em;
  	}
	.main{
		margin: 2em auto ;
		background-color: white;
    	border:1px solid #f2f4ef;
		max-width: 75vw;
	}
	.frame{
		margin: 0px auto;
  		text-align: center;
  		font-weight: 500;
	}
	.frame div{
	 	display: inline-block;
		vertical-align: top;
	}
  	.a1{
    	width: 100%;
    	max-width: 100%;
    	padding-top: 2em;
    	transition: height 2s;
    	background: #ffffff;
  	}
  	.myImage{
    	margin-top: 1.5em;
    	width:15em;
    	height:15em;
    	max-width: 15em;
    	max-height: 15em;
  	}
	.me{
    	-webkit-filter:saturate(115%) grayscale(5%);
    	filter:saturate(115%) grayscale(5%);
    	position:absolute;
    	float: left;
    	margin: -0.6em 4.5em 1em 4.5em;
		width:17em;
		height:17em;
		border-radius: 50%;
		border: 0.1em solid #030305;
    	z-index: 2;
	}
  	.meBack {
    	-webkit-filter:blur(10px);
    	filter: blur(10px);
    	position:absolute;
    	z-index: 1;
    	float: left;
    	margin: -0.6em 4.5em;
    	width:17em;
    	height:17em;
    	border-radius: 50%;
  	}
  	.info1{
    	width:45%;
    	max-width: 45%;
    	text-align: left;
  	}
  	.info1_1{
    	margin: 2em 6em 0 6em;
    	width: 50vmax
    	max-width: 50vmax;
  	}
  	.info2{
    	margin-top:2em;
    	width:22em;
    	max-width: 22em;
  	}
  	.contact{
    	width: 90%;
    	max-width: 90%;
    	margin:1em;
  	}
	.card{
		width: 100%;
		max-width: 100%;
    	color:#030305;
    	background: #ffffff;
	}
  	.card-header{
    	background: #f2f4ef;
    	width: 100%;
  	}
  	.info3{
    	overflow: hidden;
    	height: 13em;
    	width:75%;
    	max-width: 75%;
    	text-align: left;
    	margin-bottom: 1.5em;
  	}
  	.arrow{
      	content:"";
      	border:8px solid #030305;
      	border-bottom:none;
      	border-right-color:transparent;
      	border-left-color:transparent;
      	position:relative;
      	border-radius:2px;
      	cursor:pointer;
      	height: 0.25em;
      	max-height: 0.25em;
  	}
  	.rotate {
    	height: 0.25em;
    	max-height: 0.25em;
    	-moz-transition: all .5s linear;
    	-webkit-transition: all .5s linear;
    	transition: all .5s linear;
  	} 
  	.rotate.up {
    	-moz-transform:rotate(180deg);
    	-webkit-transform:rotate(180deg);
    	transform:rotate(180deg);
  	}
  	.a2Left{
    	margin:1.5em auto 1.5em 0;
    	text-align: left;
    	padding-right: 4.5em;
    	max-width:41%; 
    	width:41%;
    	border-right:1px solid #030305;
  	}
  	.a2Right{
    	text-align: left;
    	margin:2.5em auto 2.5em 4.5em;
    	max-width:35%; 
    	width:35%;
  	}
  	.btn {
		text-decoration:none;
		color: white;
    	font-size: 0.9em;
	}
	.git{
		width: 100%;
		max-width: 100%;
		margin-bottom: 1.1em;
	}
  	.icon{
    	width: 2.5em;
    	height: 2.5em;
    	margin: 0.5em;
  	}
  	.divH{
    	margin: 0.4em 0.4em 0 0.4em;
  	}
  	.hobby{
    	width: 2em;
    	height: 2em;
    	margin: 0.6em;
  	}
  	.percent{
    	margin: 1.5em auto;
    	width:100%;
    	max-width: 100%;
  	}
  	.codingSkill{
    	width:10em;
    	margin: 0em 1.6em 2.1em 0.5em;
  	}
	.skill1{
    	max-width: 80%;
    	width: 80%;
		margin-top: 1em;
	}
  	.skills{
   	 	max-width: 80%;
    	width: 80%;
    	margin-top: 1em;
    	margin-bottom: 2em;
  	}
  	.Chart div{
    	width: 4em;
    	max-width: 4em;
    	height: 4em;
    	max-height: 4em;
  	}
	.scontainer {
		height:1.3em;
  		background-color: #dcdcdc;
  		width: 100%;
  		margin: 0 auto;
  		text-align: left;
    	font-size: 0.8em;
	}
	.skill {
    	height:1em;
 		text-align: right;
  		color: white;
 		max-width: 80%;
    	width: 80%; 
    	background-color: #00aacc;
    	animation-duration:2s;
  	}
  	.run{
    	animation-name: run;
  	}
  	@keyframes run{
    	from{
        	width: 0%; 
    	}
    	to{
        	width: 90%; 
    	}
  	}
	.timeline {
  		position: relative;
  		max-width: 100%;
      	width: 100%;
  		margin: 2em auto 3em auto;
      	height: 125em;
      	max-height: 140em;
      	z-index: 0;
	}
	.timeline::after {
  		content: '';
  		position: absolute;
  		width: 0.1em;
  		background-color: #030305;
  		top: 0;
  		bottom: 0;
  		left: 50%;
  		margin-left: -0.3em;
      	z-index: 0;
	}
	.tcontainer {
  		position: relative;
  		width: 50%;
      	height: 25em;
	}
	.tcontainer::after {
  		content: '';
  		position: absolute;
  		width: 1.5em;
  		height: 1.5em;
  		right: -1em;
  		background-color: white;
  		border: 0.3em solid #00aacc;
  		top: 1em;
  		border-radius: 50%;
  		z-index: 0;
	}
	.tleft {
      left: -1.5%;
	}
	.tright {
  		left: 50.5%;
	}
	.tleft::before {
  		content: " ";
  		height: 0;
 		position: absolute;
  		top: 1.1em;
  		width: 0;
  		z-index: 0;
  		right: 1.1em;
  		border: medium solid #030305;
  		border-width: 0.5em 0 0.5em 0.5em;
  		border-color: transparent transparent transparent #030305;
	}
	.tright::before {
  		content: " ";
  		height: 0;
  		position: absolute;
  		top: 1.1em;
  		width: 0;
  		z-index: 0;
  		left: 1.1em;
  		border: medium solid #030305;
  		border-width: 0.5em 0.5em 0.5em 0;
  		border-color: transparent #030305 transparent transparent;
	}
	.tright::after {
  		left: -1.1em;
      	z-index: 0;
	}
	.content1, .content3 {
      	visibility: hidden;
      	margin-right: 2.1em;
  		padding: 1.3em 1.1em;
  		background-color: #f2f4ef;
  		position: relative;
  		border-radius: 0.4em;
      	max-width: 100%;
	}
  	.content0, .content2, .content4 {
      	visibility: hidden;
      	margin-left: 2.1em;
      	padding: 1.3em 1.1em;
      	background-color: #f2f4ef;
      	position: relative;
      	border-radius: 0.4em;
      	max-width: 100%;
  	}
  	.certificate{
    	filter: grayscale(0.1); 
    	border:0.5em solid #ffffff;
    	border-radius: 2px;
   		margin: 1.1em auto;
    	width: 9em;
    	height: 12em;
    	transition: all 1.5s ease;
  	}
  	.certificate:hover {
    	transform: scale(2,2);
    	z-index: 2;
  	}

	@media screen and (max-width: 550px) {
		html{
			width:100%;
		}
		.nameM{
    		margin: 0 0 0 12em;
    	}
    	.a1{
    		text-align: center;
    	}
    	.info1{
    		width: 100%;
    		max-width: 100%;
    		order:1;
    	}
    	.info2{
    		align-self: center;
    		width: 80%;
    		max-width: 80%;
    		order:2;
    	}
    	.footer{
      		height: 10em;
    	}
    	.timeline{
      		height: 250em;
    	}
  		.timeline::after {
  			left: 2em;
      		z-index: 0;
  		}
    	.tcontainer {
      		position: relative;
      		width: 50%;
      		height: 40vmax;
    	}
  		.tcontainer::before {
  			left: 3.6vmax;
 	 	  	border: medium solid #030305;
  			border-width: 0.6vmax 0.6vmax 0.6vmax 0;
  			border-color: transparent white transparent transparent;
      		z-index: 0;
  		}
  		.tleft::after, .tright::after {
  			left: 0.9vmax;
      		z-index: 0;
  		}
	} 
</style>
