<style>
	@media screen and (min-width: 551px) {
		*, html{
			font-size: 14px;
		}
	}
  	.top img{
  		max-width:2em;
  		max-height:2em;
  		position: fixed;
  		top:91vh;
  		left: 91vw;
  		box-shadow:2px 2px 1px 1px grey;
  		border-radius: 50%;
  	}
  	.footer{
    	width: 100%;
    	max-width:100%;
    	height: 6em;
    	margin-bottom: 0;
    	background-color: #ffffff;
    	padding-top: 0.6em;
    	box-shadow:1px 1px 2px 1px grey;
  	}
  	.email{
    	width: 2em;
    	height: 2em;
    	margin: 0.4em 0.4em 0 0.4em;
  	}
  	.divName{
    	width: 100%;
   	 	max-width:100%;
    	height: 5em;
    	background-color: #ffffff;
    	box-shadow:1px 1px 2px 2px grey;
  	}
  	.nameM{
    	margin: 0 0 0 23.5em;
    	height: 4.5em;
  	}
  	.namescript{
  		margin-top:0.2em;
  		height: 3.5em;
    	width: 9.5em;
    	max-width: 9.5em;
  	}
	.main{
		margin: 2em auto ;
		background-color: white;
    	border:1px solid #f2f4ef;
		max-width: 75vw;
	}
	.frame{
		margin: 0px auto;
  		text-align: center;
  		font-weight: 500;
  		box-shadow:7px 7px 3px 4px grey;
	}
	.frame div{
	 	display: inline-block;
		vertical-align: top;
	}
  	.a1{
    	width: 100%;
    	max-width: 100%;
    	padding-top: 2em;
    	transition: height 2s;
    	background: #ffffff;
  	}
  	.myImage{
    	margin-top: 1.5em;
    	width:17em;
    	height:17em;
    	max-width: 17em;
    	max-height: 17em;
  	}
	.me{
    	-webkit-filter:saturate(115%) grayscale(5%);
    	filter:saturate(115%) grayscale(5%);
		width:17em;
		height:17em;
		border-radius: 50%;
    	z-index: 2;
    	border:1px solid grey;
    	box-shadow:2px 2px 3px 2px #555;
	}
  	.info1{
    	width:30%;
    	max-width: 30%;
    	text-align: center;
    	margin-right: 5em;
  	}
  	.info1_1{
    	margin: 2em auto 0 auto;
  	}
  	.info2{
    	margin: 2em auto 0 5em;
    	width:25%;
    	max-width: 25%;
  	}
  	.contact{
    	width: 90%;
    	max-width: 90%;
    	margin:1em;
  	}
	.card{
		width: 100%;
		max-width: 100%;
    	color:#030305;
    	background: #ffffff;
    	box-shadow:1px 1px 2px 1px grey;
	}
  	.card-header{
    	background: #f2f4ef;
    	width: 100%;
  	}
  	.info3{
    	overflow: hidden;
    	height: 13em;
    	width:75%;
    	max-width: 75%;
    	text-align: left;
    	margin-bottom: 1.5em;
  	}
  	.arrow{
      	content:"";
      	border:8px solid #030305;
      	border-bottom:none;
      	border-right-color:transparent;
      	border-left-color:transparent;
      	position:relative;
      	border-radius:2px;
      	cursor:pointer;
      	height: 0.25em;
      	max-height: 0.25em;
  	}
  	.rotate {
    	height: 0.25em;
    	max-height: 0.25em;
    	-moz-transition: all .5s linear;
    	-webkit-transition: all .5s linear;
    	transition: all .5s linear;
  	} 
  	.rotate.up {
    	-moz-transform:rotate(180deg);
    	-webkit-transform:rotate(180deg);
    	transform:rotate(180deg);
  	}
  	.a2Left{
    	margin:2.5em auto 3em 3em;
    	text-align: left;
    	padding-right: 3em;
    	max-width:40%; 
    	width:40%;
    	border-right:1px solid #ccc;
  	}
  	.a2Right{
    	text-align: center;
    	margin:3em ;
    	max-width:40%; 
    	width:40%;
  	}
  	.btn {
		text-decoration:none;
		color: white;
    	font-size: 0.9em;
	}
	.git{
		width: 100%;
		max-width: 100%;
		margin-bottom: 1.1em;
	}
  	.icon{
    	width: 2.5em;
    	height: 2.5em;
    	margin: 0.5em;
  	}
  	.divH{
    	margin: 0.4em 0.4em 0 0.4em;
  	}
  	.hobby{
    	width: 2em;
    	height: 2em;
    	margin: 0.6em;
  	}
  	.percent{
    	margin: 1.5em auto;
    	width:100%;
    	max-width: 100%;
  	}
  	.codingSkill{
    	width:10em;
    	margin: 0em 1.6em 2.1em 0.5em;
  	}
	.skill1{
    	max-width: 80%;
    	width: 80%;
		margin-top: 1em;
	}
  	.skills{
   	 	max-width: 80%;
    	width: 80%;
    	margin-top: 1em;
    	margin-bottom: 2em;
  	}
  	.Chart div{
    	width: 4em;
    	max-width: 4em;
    	height: 4em;
    	max-height: 4em;
  	}
	.scontainer {
		height:1.3em;
  		background-color: #dcdcdc;
  		width: 100%;
  		margin: 0 auto;
  		text-align: left;
    	font-size: 0.8em;
	}
	.skill {
    	height:1em;
 		text-align: right;
  		color: white;
 		max-width: 70%;
    	width: 70%; 
    	background-color: #00aacc;
    	animation-duration:2s;
  	}
  	.skill2 {
    	height:1em;
 		text-align: right;
  		color: white;
 		max-width: 65%;
    	width: 65%; 
    	background-color: #00aacc;
    	animation-duration:2s;
  	}
  	.run{
    	animation-name: run;
  	}
  	@keyframes run{
    	from{
        	width: 0%; 
    	}
    	to{
        	width: 90%; 
    	}
  	}
	.timeline {
  		position: relative;
  		max-width: 100%;
      	width: 100%;
  		margin: 1em auto 3em auto;
      	height: 140em;
      	max-height: 140em;
      	z-index: 0;
	}
	.timeline::after {
  		content: '';
  		position: absolute;
  		width: 0.1em;
  		background-color: #030305;
  		top: 0;
  		bottom: 0;
  		left: 50%;
      	z-index: 0;
	}
	.tcontainer {
  		position: relative;
  		width: 50%;
      	height: 25em;
	}
	.tcontainer::after {
  		content: '';
  		position: absolute;
  		width: 1.5em;
  		height: 1.5em;
  		background-color: white;
  		border: 0.3em solid #00aacc;
  		top: 1em;
  		border-radius: 50%;
  		z-index: 0;
	}
	.tleft {
      	left: -27.5%;
	}
	.tright {
  		left: 26.5%;
	}
	.tleft::before {
  		content: " ";
  		height: 0;
 		position: absolute;
  		top: 1.3em;
  		width: 0;
  		z-index: 0;
  		right: 1em;
  		border: medium solid #030305;
  		border-width: 0.5em 0 0.5em 0.5em;
  		border-color: transparent transparent transparent #030305;
	}
	.tright::before {
  		content: " ";
  		height: 0;
  		position: absolute;
  		top: 1.3em;
  		width: 0;
  		z-index: 0;
  		left: 1em;
  		border: medium solid #030305;
  		border-width: 0.5em 0.5em 0.5em 0;
  		border-color: transparent #030305 transparent transparent;
	}
	.tleft::after {
  		left: 99.5%;
      	z-index: 0;
	}
	.tright::after {
  		left: -8.5%;
      	z-index: 0;
	}
	.content1, .content3 {
      	visibility: hidden;
      	margin-right: 2em;
  		padding: 1.5em 1em;
  		background-color: #f2f4ef;
  		position: relative;
  		border-radius: 0.5em;
      	max-width: 100%;
      	box-shadow:1px 1px 2px 1px grey;
	}
  	.content0, .content2, .content4 {
      	visibility: hidden;
      	margin-left: 2em;
      	padding: 1.5em 1em;
      	background-color: #f2f4ef;
      	position: relative;
      	border-radius: 0.5em;
      	max-width: 100%;
      	box-shadow:1px 1px 2px 1px grey;
  	}
  	.certificate{
    	filter: grayscale(0.1); 
    	box-shadow:2px 2px 2px 2px #666;
    	border-radius: 2px;
   		margin: 1em auto;
    	width: 9em;
    	height: 12em;
    	transition: all 1.5s ease;
  	}
  	.certificate:hover {
    	transform: scale(2,2);
    	z-index: 2;
  	}

	@media screen and (max-width: 550px) {
		html{
			width:100%;
		}
		h3{
			font-size:1.4em;
		}
		h4{
			font-size:1.3em;
		}
		h5{
			font-size:1.2em;
		}
		.nameM{
    		margin: 0 0 0 4.5em;
    	}
    	.a1{
    		text-align: center;
    	}
    	.info1{
    		width: 100%;
    		max-width: 100%;
    	}
    	.info1 div:nth-child(1){
    		order:1;
    		margin-bottom: 2em;
    		text-align: center;
    	}
    	.info1 div:nth-child(2){
    		order:2;
    		width: 85%;
    		max-width: 85%;
    		text-align: center;
    	}
    	.info2{
    		align-self: center;
    		width: 80%;
    		max-width: 80%;
    		margin-bottom: 2em;
    	}
    	.git a{
    		height: 2.2em;
    		font-size: 8px;
    	}
    	.contact{
    		height:14em;
    	}
    	.footer{
      		height: 10em;
    	}
    	.timeline{
      		height: 250em;
    	}
  		.timeline::after {
  			text-align: center;
      		z-index: 0;
  		}
    	.tcontainer {
      		position: relative;
      		width: 50%;
      		height: 40vmax;
    	}
  		.tcontainer::before {
  			left: 3.6vmax;
 	 	  	border: medium solid #030305;
  			border-width: 0.6vmax 0.6vmax 0.6vmax 0;
  			border-color: transparent white transparent transparent;
      		z-index: 0;
  		}
  		.tleft::after, .tright::after {
  			left: 0.9vmax;
      		z-index: 0;
  		}
	} 
</style>
